<?xml version="1.0" encoding="utf-8"?>
<Target Name="SIMULATOR" CodeType="" Model="1" ByteOrder="0" AlignNumber="8" MaxBlockSize="0" UINT16Size="2" UINT32Size="4" UCHARSize="1" PointerSize="4" FirstVa="1024" Quantum="1" EolChar="13,10" OKReal="true" OKString="true" SM="32768" T1="0" T2="0" T3="0" T4="0" T5="0" G1="0" G2="0" G3="0" G4="0" UserData="true" SingleTextLine="Windows NT Target" Help="" Keyword="" SysVarCycleDate="264" SysVarCycycTime="268" SysVarCyCurrent="272" SysVarCyMaximum="276" SysVarCyOverFlow="280" SysVarScanCnt="284" SysVarCycleCnt="288" SysVarResMode="292" SysVarCCExec="293" SysVarKVBPerr="294" SysVarKVBCErr="295" SysVarWNGNum="296" SysVarWNGarg="300" SysVarResName="4" StrictAlignt="false" MaxParam="128" SysVarWNGCMD="315" SysVarWNGCMPTNM="304" IsIsagraf3="false" Features="FeatureLReal=Yes,FeatureLInt=Yes,FeatureUnsigned=Yes,FeaturePassword=Yes,Feature6_1499=Yes,FeatureOptCode=Yes" IsEnhancedTarget="true" MaxPouSize="67108864">
  <TargetDescription>Windows NT target
Large model
Intel, aligned at 4, not strictly
</TargetDescription>
  <CodeTypes />
  <Networks>
    <Network Name="HSD" />
    <Network Name="ETCP" />
    <Network Name="ISARSI" />
  </Networks>
  <CustomFields />
  <ExtendedParameters />
  <Features>
    <Feature Name="PASSWORD" IsSupported="true" />
    <Feature Name="OPTCODE" IsSupported="true" />
    <Feature Name="BINDING" IsSupported="true" />
    <Feature Name="MULTIRESOURCES" IsSupported="true" />
    <Feature Name="ONLINE" IsSupported="true" />
    <Feature Name="RETAIN" IsSupported="true" />
    <Feature Name="MICROCYCTIME" IsSupported="false" />
    <Feature Name="INTRPT" IsSupported="true" />
    <Feature Name="ARINPRF" IsSupported="true" />
    <Feature Name="BIGPOUS" IsSupported="true" />
    <Feature Name="NETWORKINST" IsSupported="true" />
    <Feature Name="SFCPRIO" IsSupported="true" />
    <Feature Name="COMPLEXSUBVARCONNECTEDTOIOCHAN" IsSupported="true" />
    <Feature Name="IOCHANOEMPARAM" IsSupported="true" />
    <Feature Name="OLCCFBINITEXIT" IsSupported="true" />
    <Feature Name="ANYBITACCESSOFFSET" IsSupported="true" />
  </Features>
  <Languages>
    <Language Name="ST" IsSupported="true" />
    <Language Name="IL" IsSupported="true" />
    <Language Name="LD" IsSupported="true" />
    <Language Name="FBD" IsSupported="true" />
    <Language Name="SAMA" IsSupported="false" />
    <Language Name="61499" IsSupported="true" />
    <Language Name="SFC" IsSupported="true" />
    <Language Name="FC" IsSupported="true" />
    <Language Name="C" IsSupported="true" />
  </Languages>
  <DataTypes>
    <DataType Name="BOOL" IsSupported="true" />
    <DataType Name="SINT" IsSupported="true" />
    <DataType Name="DINT" IsSupported="true" />
    <DataType Name="REAL" IsSupported="true" />
    <DataType Name="TIME" IsSupported="true" />
    <DataType Name="STRING" IsSupported="true" />
    <DataType Name="LREAL" IsSupported="true" />
    <DataType Name="INT" IsSupported="true" />
    <DataType Name="LINT" IsSupported="true" />
    <DataType Name="USINT" IsSupported="true" />
    <DataType Name="UINT" IsSupported="true" />
    <DataType Name="UDINT" IsSupported="true" />
    <DataType Name="ULINT" IsSupported="true" />
    <DataType Name="DATE" IsSupported="true" />
    <DataType Name="BYTE" IsSupported="true" />
    <DataType Name="WORD" IsSupported="true" />
    <DataType Name="DWORD" IsSupported="true" />
    <DataType Name="LWORD" IsSupported="true" />
    <DataType Name="SAFEBOOL" IsSupported="true" />
    <DataType Name="ANY_ELEMENTARY" IsSupported="false" />
    <DataType Name="__ANY" IsSupported="false" />
  </DataTypes>
  <SystemVariables />
  <Interrupts />
  <StdPous>
    <StdPou Name="SR" IsSupported="true" />
    <StdPou Name="RS" IsSupported="true" />
    <StdPou Name="R_TRIG" IsSupported="true" />
    <StdPou Name="F_TRIG" IsSupported="true" />
    <StdPou Name="CTU" IsSupported="true" />
    <StdPou Name="CTD" IsSupported="true" />
    <StdPou Name="CTUD" IsSupported="true" />
    <StdPou Name="TON" IsSupported="true" />
    <StdPou Name="TOF" IsSupported="true" />
    <StdPou Name="CMP" IsSupported="true" />
    <StdPou Name="STACKINT" IsSupported="true" />
    <StdPou Name="AVERAGE" IsSupported="true" />
    <StdPou Name="HYSTER" IsSupported="true" />
    <StdPou Name="LIM_ALRM" IsSupported="true" />
    <StdPou Name="INTEGRAL" IsSupported="true" />
    <StdPou Name="DERIVATE" IsSupported="true" />
    <StdPou Name="BLINK" IsSupported="true" />
    <StdPou Name="SIG_GEN" IsSupported="true" />
    <StdPou Name="ABS" IsSupported="true" />
    <StdPou Name="EXPT" IsSupported="true" />
    <StdPou Name="LOG" IsSupported="true" />
    <StdPou Name="POW" IsSupported="true" />
    <StdPou Name="SQRT" IsSupported="true" />
    <StdPou Name="TRUNC" IsSupported="true" />
    <StdPou Name="ACOS" IsSupported="true" />
    <StdPou Name="ASIN" IsSupported="true" />
    <StdPou Name="ATAN" IsSupported="true" />
    <StdPou Name="COS" IsSupported="true" />
    <StdPou Name="SIN" IsSupported="true" />
    <StdPou Name="TAN" IsSupported="true" />
    <StdPou Name="ROL" IsSupported="true" />
    <StdPou Name="ROR" IsSupported="true" />
    <StdPou Name="SHL" IsSupported="true" />
    <StdPou Name="SHR" IsSupported="true" />
    <StdPou Name="MIN" IsSupported="true" />
    <StdPou Name="MAX" IsSupported="true" />
    <StdPou Name="LIMIT" IsSupported="true" />
    <StdPou Name="MOD" IsSupported="true" />
    <StdPou Name="MUX4" IsSupported="true" />
    <StdPou Name="MUX8" IsSupported="true" />
    <StdPou Name="ODD" IsSupported="true" />
    <StdPou Name="RAND" IsSupported="true" />
    <StdPou Name="SEL" IsSupported="true" />
    <StdPou Name="ASCII" IsSupported="true" />
    <StdPou Name="CHAR" IsSupported="true" />
    <StdPou Name="DELETE" IsSupported="true" />
    <StdPou Name="FIND" IsSupported="true" />
    <StdPou Name="INSERT" IsSupported="true" />
    <StdPou Name="LEFT" IsSupported="true" />
    <StdPou Name="MID" IsSupported="true" />
    <StdPou Name="MLEN" IsSupported="true" />
    <StdPou Name="REPLACE" IsSupported="true" />
    <StdPou Name="RIGHT" IsSupported="true" />
    <StdPou Name="AND_MASK" IsSupported="true" />
    <StdPou Name="OR_MASK" IsSupported="true" />
    <StdPou Name="XOR_MASK" IsSupported="true" />
    <StdPou Name="NOT_MASK" IsSupported="true" />
    <StdPou Name="TP" IsSupported="true" />
    <StdPou Name="CONNECT" IsSupported="true" />
    <StdPou Name="USEND_S" IsSupported="true" />
    <StdPou Name="URCV_S" IsSupported="true" />
    <StdPou Name="SUB_DATE_DATE" IsSupported="true" />
    <StdPou Name="CURRENT_ISA_DATE" IsSupported="true" />
    <StdPou Name="SEMA" IsSupported="true" />
    <StdPou Name="LOCK_CPU" IsSupported="true" />
    <StdPou Name="UNLOCK_CPU" IsSupported="true" />
  </StdPous>
  <Pous />
  <IODevices>
    <IODevice DriverName="Sim_" PackageName="Drv_" Name="SimInBoo" DataType="BOOL" MinChannel="1" MaxChannel="128" Direction="Input" IsSimple="true" Comment="" SingleTextLine="Simulation Boolean Input device">
      <Parameters />
      <ChannelParameters />
    </IODevice>
    <IODevice DriverName="Sim_" PackageName="Drv_" Name="SimOutBoo" DataType="BOOL" MinChannel="1" MaxChannel="128" Direction="Output" IsSimple="true" Comment="" SingleTextLine="Simulation Boolean Output device">
      <Parameters />
      <ChannelParameters />
    </IODevice>
    <IODevice DriverName="Sim_" PackageName="Drv_" Name="SimInSint" DataType="SINT" MinChannel="1" MaxChannel="128" Direction="Input" IsSimple="true" Comment="" SingleTextLine="Simulation SINT input device">
      <Parameters />
      <ChannelParameters />
    </IODevice>
    <IODevice DriverName="Sim_" PackageName="Drv_" Name="SimOutSint" DataType="SINT" MinChannel="1" MaxChannel="128" Direction="Output" IsSimple="true" Comment="" SingleTextLine="Simulation SINT output device">
      <Parameters />
      <ChannelParameters />
    </IODevice>
    <IODevice DriverName="Sim_" PackageName="Drv_" Name="SimInDint" DataType="DINT" MinChannel="1" MaxChannel="128" Direction="Input" IsSimple="true" Comment="" SingleTextLine="Simulation DINT input device">
      <Parameters />
      <ChannelParameters />
    </IODevice>
    <IODevice DriverName="Sim_" PackageName="Drv_" Name="SimOutDint" DataType="DINT" MinChannel="1" MaxChannel="128" Direction="Output" IsSimple="true" Comment="" SingleTextLine="Simulation DINT output device">
      <Parameters />
      <ChannelParameters />
    </IODevice>
    <IODevice DriverName="Sim_" PackageName="Drv_" Name="SimInReal" DataType="REAL" MinChannel="1" MaxChannel="128" Direction="Input" IsSimple="true" Comment="" SingleTextLine="Simulation REAL input device">
      <Parameters />
      <ChannelParameters />
    </IODevice>
    <IODevice DriverName="Sim_" PackageName="Drv_" Name="SimOutReal" DataType="REAL" MinChannel="1" MaxChannel="128" Direction="Output" IsSimple="true" Comment="" SingleTextLine="Simulation REAL output device">
      <Parameters />
      <ChannelParameters />
    </IODevice>
    <IODevice DriverName="Sim_" PackageName="Drv_" Name="SimInTime" DataType="TIME" MinChannel="1" MaxChannel="128" Direction="Input" IsSimple="true" Comment="" SingleTextLine="Simulation TIME input device">
      <Parameters />
      <ChannelParameters />
    </IODevice>
    <IODevice DriverName="Sim_" PackageName="Drv_" Name="SimOutTime" DataType="TIME" MinChannel="1" MaxChannel="128" Direction="Output" IsSimple="true" Comment="" SingleTextLine="Simulation TIME output device">
      <Parameters />
      <ChannelParameters />
    </IODevice>
    <IODevice DriverName="Sim_" PackageName="Drv_" Name="SimInString" DataType="STRING" MinChannel="1" MaxChannel="128" Direction="Input" IsSimple="true" Comment="" SingleTextLine="Simulation STRING input device">
      <Parameters />
      <ChannelParameters />
    </IODevice>
    <IODevice DriverName="Sim_" PackageName="Drv_" Name="SimOutString" DataType="STRING" MinChannel="1" MaxChannel="128" Direction="Output" IsSimple="true" Comment="" SingleTextLine="Simulation STRING output device">
      <Parameters />
      <ChannelParameters />
    </IODevice>
    <IODevice DriverName="Sim_" PackageName="Drv_" Name="SimInLreal" DataType="LREAL" MinChannel="1" MaxChannel="128" Direction="Input" IsSimple="true" Comment="" SingleTextLine="Simulation LREAL input device">
      <Parameters />
      <ChannelParameters />
    </IODevice>
    <IODevice DriverName="Sim_" PackageName="Drv_" Name="SimOutLreal" DataType="LREAL" MinChannel="1" MaxChannel="128" Direction="Output" IsSimple="true" Comment="" SingleTextLine="Simulation LREAL input device">
      <Parameters />
      <ChannelParameters />
    </IODevice>
    <IODevice DriverName="Sim_" PackageName="Drv_" Name="SimInUsint" DataType="USINT" MinChannel="1" MaxChannel="128" Direction="Input" IsSimple="true" Comment="" SingleTextLine="Simulation USINT input device">
      <Parameters />
      <ChannelParameters />
    </IODevice>
    <IODevice DriverName="Sim_" PackageName="Drv_" Name="SimOutUsint" DataType="USINT" MinChannel="1" MaxChannel="128" Direction="Output" IsSimple="true" Comment="" SingleTextLine="Simulation USINT input device">
      <Parameters />
      <ChannelParameters />
    </IODevice>
    <IODevice DriverName="Sim_" PackageName="Drv_" Name="SimInInt" DataType="INT" MinChannel="1" MaxChannel="128" Direction="Input" IsSimple="true" Comment="" SingleTextLine="Simulation INT input device">
      <Parameters />
      <ChannelParameters />
    </IODevice>
    <IODevice DriverName="Sim_" PackageName="Drv_" Name="SimOutInt" DataType="INT" MinChannel="1" MaxChannel="128" Direction="Output" IsSimple="true" Comment="" SingleTextLine="Simulation INT input device">
      <Parameters />
      <ChannelParameters />
    </IODevice>
    <IODevice DriverName="Sim_" PackageName="Drv_" Name="SimInUint" DataType="UINT" MinChannel="1" MaxChannel="128" Direction="Input" IsSimple="true" Comment="" SingleTextLine="Simulation UINT input device">
      <Parameters />
      <ChannelParameters />
    </IODevice>
    <IODevice DriverName="Sim_" PackageName="Drv_" Name="SimOutUint" DataType="UINT" MinChannel="1" MaxChannel="128" Direction="Output" IsSimple="true" Comment="" SingleTextLine="Simulation UINT input device">
      <Parameters />
      <ChannelParameters />
    </IODevice>
    <IODevice DriverName="Sim_" PackageName="Drv_" Name="SimInUdint" DataType="UDINT" MinChannel="1" MaxChannel="128" Direction="Input" IsSimple="true" Comment="" SingleTextLine="Simulation UDINT input device">
      <Parameters />
      <ChannelParameters />
    </IODevice>
    <IODevice DriverName="Sim_" PackageName="Drv_" Name="SimOutUdint" DataType="UDINT" MinChannel="1" MaxChannel="128" Direction="Output" IsSimple="true" Comment="" SingleTextLine="Simulation UDINT input device">
      <Parameters />
      <ChannelParameters />
    </IODevice>
    <IODevice DriverName="Sim_" PackageName="Drv_" Name="SimInLint" DataType="LINT" MinChannel="1" MaxChannel="128" Direction="Input" IsSimple="true" Comment="" SingleTextLine="Simulation LINT input device">
      <Parameters />
      <ChannelParameters />
    </IODevice>
    <IODevice DriverName="Sim_" PackageName="Drv_" Name="SimOutLint" DataType="LINT" MinChannel="1" MaxChannel="128" Direction="Output" IsSimple="true" Comment="" SingleTextLine="Simulation LINT input device">
      <Parameters />
      <ChannelParameters />
    </IODevice>
    <IODevice DriverName="Sim_" PackageName="Drv_" Name="SimInUlint" DataType="ULINT" MinChannel="1" MaxChannel="128" Direction="Input" IsSimple="true" Comment="" SingleTextLine="Simulation ULINT input device">
      <Parameters />
      <ChannelParameters />
    </IODevice>
    <IODevice DriverName="Sim_" PackageName="Drv_" Name="SimOutUlint" DataType="ULINT" MinChannel="1" MaxChannel="128" Direction="Output" IsSimple="true" Comment="" SingleTextLine="Simulation ULINT input device">
      <Parameters />
      <ChannelParameters />
    </IODevice>
    <IODevice DriverName="Sim_" PackageName="Drv_" Name="SimInDate" DataType="DATE" MinChannel="1" MaxChannel="128" Direction="Input" IsSimple="true" Comment="" SingleTextLine="Simulation DATE input device">
      <Parameters />
      <ChannelParameters />
    </IODevice>
    <IODevice DriverName="Sim_" PackageName="Drv_" Name="SimOutDate" DataType="DATE" MinChannel="1" MaxChannel="128" Direction="Output" IsSimple="true" Comment="" SingleTextLine="Simulation DATE input device">
      <Parameters />
      <ChannelParameters />
    </IODevice>
    <IODevice DriverName="Sim_" PackageName="Drv_" Name="SimInByte" DataType="BYTE" MinChannel="1" MaxChannel="128" Direction="Input" IsSimple="true" Comment="" SingleTextLine="Simulation BYTE input device">
      <Parameters />
      <ChannelParameters />
    </IODevice>
    <IODevice DriverName="Sim_" PackageName="Drv_" Name="SimOutByte" DataType="BYTE" MinChannel="1" MaxChannel="128" Direction="Output" IsSimple="true" Comment="" SingleTextLine="Simulation BYTE input device">
      <Parameters />
      <ChannelParameters />
    </IODevice>
    <IODevice DriverName="Sim_" PackageName="Drv_" Name="SimInWord" DataType="WORD" MinChannel="1" MaxChannel="128" Direction="Input" IsSimple="true" Comment="" SingleTextLine="Simulation WORD input device">
      <Parameters />
      <ChannelParameters />
    </IODevice>
    <IODevice DriverName="Sim_" PackageName="Drv_" Name="SimOutWord" DataType="WORD" MinChannel="1" MaxChannel="128" Direction="Output" IsSimple="true" Comment="" SingleTextLine="Simulation WORD input device">
      <Parameters />
      <ChannelParameters />
    </IODevice>
    <IODevice DriverName="Sim_" PackageName="Drv_" Name="SimInDword" DataType="DWORD" MinChannel="1" MaxChannel="128" Direction="Input" IsSimple="true" Comment="" SingleTextLine="Simulation DWORD input device">
      <Parameters />
      <ChannelParameters />
    </IODevice>
    <IODevice DriverName="Sim_" PackageName="Drv_" Name="SimOutDword" DataType="DWORD" MinChannel="1" MaxChannel="128" Direction="Output" IsSimple="true" Comment="" SingleTextLine="Simulation DWORD input device">
      <Parameters />
      <ChannelParameters />
    </IODevice>
    <IODevice DriverName="Sim_" PackageName="Drv_" Name="SimInLword" DataType="LWORD" MinChannel="1" MaxChannel="128" Direction="Input" IsSimple="true" Comment="" SingleTextLine="Simulation LWORD input device">
      <Parameters />
      <ChannelParameters />
    </IODevice>
    <IODevice DriverName="Sim_" PackageName="Drv_" Name="SimOutLword" DataType="LWORD" MinChannel="1" MaxChannel="128" Direction="Output" IsSimple="true" Comment="" SingleTextLine="Simulation LWORD input device">
      <Parameters />
      <ChannelParameters />
    </IODevice>
  </IODevices>
</Target>